<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Teaser</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/index">
            <img src = "{{url_for('static', filename="images/logo.png")}}" alt="" />
          </a>
          <div class="navbar-collapse" id="">
            <ul class="navbar-nav justify-content-between ">
              <!--
              <div class="User_option">
                <li class="">
                  <a class="mr-4" href="">
                    Login
                  </a>
                  <a class="" href="">
                    Sign up
                  </a>
                </li>
              </div>
              -->
            </ul>

            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="/index">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/property/0/1">HOUSE</a>
                <a href="/price">PRICING</a>
                <a href="/contact">CONTACT US</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- contact section -->

  <section class="contact_section layout_padding-top">
    <div class="container">
      <div class="heading_container">
        <h2>
          Get In Touch
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="map_container">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54403163.229386926!2d1.2806818999999985!3d33.669971000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df955f13d00919%3A0x1330a8a80b73bc7!2sVECTOR%20Inc!5e0!3m2!1sen!2ssa!4v1711642149457!5m2!1sen!2ssa"  width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 ">
          <div class="form_container">
            <form action="">
              <div>
                <input type="text" placeholder="Name" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="d-flex ">
                <button>
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end contact section -->



  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="info_contact">
            <h5>
              About Organization
            </h5>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename="images/location.png")}}" width="18px" alt="">
              </div>
              <p>
                Office No. 311 - Al Hameed Mall, G11 Markaz Isb
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename="images/phone.png")}}" width="12px" alt="">
              </div>
              <p>
                +923145258971
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename="images/mail.png")}}" width="18px" alt="">
              </div>
              <p>
                hello@vector-ai.co
              </p>
            </div>
            <div class="social_box">
              <a href="https://www.linkedin.com/company/vectoraico">
                <img src="{{ url_for('static', filename="images/linkedin.png")}}" alt="">
              </a>
              <p>
                linkedin.com/company/vectoraico
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-5">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
              A virtual Explorable Property website.
            </p>
          </div>
        </div>

        
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="http://www.vector-ai.co">VECTOR Inc.</a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script type="text/javascript" src="../static/js/custom.js"></script>

</body>
</body>

</html>