<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>InVerse</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/index">
            <img src="{{ url_for('static', filename="images/logo.png")}}" alt="" />
          </a>
          <div class="navbar-collapse" id="">
            
            <ul class="navbar-nav justify-content-between ">
            <!--
              <div class="User_option">
                <li class="">
                  <a class="mr-4" href="/login">
                    Login
                  </a>
                  <a class="" href="/signup">
                    Sign up
                  </a>
                </li>
              </div>
            -->
            </ul> 
            

            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="/index">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/house/0">HOUSE</a>
                <a href="/price">PRICING</a>
                <a href="/contact">CONTACT US</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <div class="detail-box">
              <h1>
                <span> Dive into the </span> <br>
                In-Verse
              </h1>
              <p>
                Gateway to exploring in the virtual realms from the reality around us
              </p>
              <!--
              <div class="btn-box">
                <a href="" class="">
                  Read More
                </a>
              </div>
            -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- find section -->
  <section class="find_section ">
    <div class="container">
      <form action="">
        <div class=" form-row">
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Serach Your Categories ">
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Location ">
          </div>
          <div class="col-md-2">
            <button type="submit" class="">
              search
            </button>
          </div>
        </div>

      </form>
    </div>
  </section>

  <!-- end find section -->


  <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="square-box">
      <img src="{{ url_for('static', filename="images/square.png")}}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{{ url_for('static', filename="images/us.jpeg")}}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              FY-123-D-In-Verse 
              <br>
              Batch - 2020
              <br>
              <br>
              Maaz Ali Nadeem - 20i-0452 <br> 
              Abdulwadood Waseem - 20i0988 <br> 
              Shehryar Sohail - 20i-0429
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- sale section -->

  <section class="sale_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          Listed Properties
        </h2>
        <p>
          There are many variations of properties.
        </p>
      </div>

      <div class="sale_container">
        <a href="\house\0" class="box">
          <span>
          <div class="img-box">
            <img src="{{ url_for('static', filename="images/0/3.JPG")}}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              VECTOR Inc. Office
            </h6>
            <p>
              358 sq ft - Office Space - 3rd floor
            </p>
          </div>
        </span>
        </a>
        <a href="\house\1" class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename="images/1/1.JPG")}}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              LandKrafts Office
            </h6>
            <p>
              718 sq ft - Office Space - 1st floor
            </p>
          </div>
        </a>
        <a href="\house\2" class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename="images/2/4.JPG")}}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Seminar Hall
            </h6>
            <p>
              749 sq ft - NUCES FAST - 4th floor
            </p>
          </div>
        </a>     
        <a href="\house\3" class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename="images/3/5.JPG")}}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Auditorium
            </h6>
            <p>
              3160 sq ft - NUCES FAST - ground floor
            </p>
          </div>
        </a>
      </div>
      <div class="btn-box">
        <a href="">
          Find More
        </a>
      </div>
    </div>
  </section>

  <!-- end sale section -->

  <!-- price section -->

  <!--
  <section class="price_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Pricing
        </h2>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the
        </p>
      </div>
      <div class="price_container">
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                01
              </h4>
              <h6>
                Basic
              </h6>
            </div>
            <div class="text-box">
              <h2>
                $1000.00
              </h2>
              <ul>
                <li>
                  variations of
                </li>
                <li>
                  passages of Lorem
                </li>
                <li>
                  Ipsum available,
                </li>
                <li>
                  but the majority
                </li>
                <li>
                  have suffered
                </li>
                <li>
                  alteration in
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                02
              </h4>
              <h6>
                Standard
              </h6>
            </div>
            <div class="text-box">
              <h2>
                $2000.00
              </h2>
              <ul>
                <li>
                  variations of
                </li>
                <li>
                  passages of Lorem
                </li>
                <li>
                  Ipsum available,
                </li>
                <li>
                  but the majority
                </li>
                <li>
                  have suffered
                </li>
                <li>
                  alteration in
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                03
              </h4>
              <h6>
                Premium
              </h6>
            </div>
            <div class="text-box">
              <h2>
                $3000.00
              </h2>
              <ul>
                <li>
                  variations of
                </li>
                <li>
                  passages of Lorem
                </li>
                <li>
                  Ipsum available,
                </li>
                <li>
                  but the majority
                </li>
                <li>
                  have suffered
                </li>
                <li>
                  alteration in
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  -->

  <!-- end price section -->

  <!-- deal section -->

  <section class="deal_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Immersive way to Explore Your Dream House!
              </h2>
            </div>
            <p>
              In-Verse 
            </p>
            <a href="">
              Get A Quote
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <div class="box b1">
              <img src="{{ url_for('static', filename="images/d-1.jpg")}}" alt="">
            </div>
            <div class="box b1">
              <img src="{{ url_for('static', filename="images/d-2.jpg")}}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end deal section -->


  <!-- us section -->
  <section class="us_section layout_padding2">

    <div class="container">
      <div class="heading_container">
        <h2>
          Why Choose Us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename="images/u-1.png")}}" alt="">
            </div>
            <div class="detail-box">
              <h3 class="price">
                Location
              </h3>
              <h5>
                near the city center
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename="images/u-2.png")}}" alt="">
            </div>
            <div class="detail-box">
              <h3>
                200+
              </h3>
              <h5>
                Customer Reviews
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename="images/u-3.png")}}" alt="">
            </div>
            <div class="detail-box">
              <h3>
                1000+
              </h3>
              <h5>
                Satisfied Customers
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename="images/u-4.png")}}" alt="">
            </div>
            <div class="detail-box">
              <h3>
                Feasible
              </h3>
              <h5>
                Cheap Rates
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Get A Quote
        </a>
      </div>
    </div>
  </section>

  <!-- end us section -->

  <!-- client secction -->

  <section class="client_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          What is Says Our Customer
        </h2>
      </div>
      <div class="client_container">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="box">
                <div class="img-box">
                  <img src="{{ url_for('static', filename="images/syedkamranshah.jpg")}}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    <span>
                      Syed Kamran Shah - Managing Director at LandKrafts & CEO at MakaanSaz
                    </span>
                    <hr>
                  </h5>
                  <p>
                    This is a must-have utility to empower virtual tours through our mobile phones. 
                    I believe that this is the future of real-estate (for our platform’s 
                    clients touring virtually on their mobile devices). 
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="box">
                <div class="img-box">
                  <img src="{{ url_for('static', filename="images/client.jpg")}}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    <span>Mian Usman - Client Manager (Rental & Purchase) - KK Enterprises</span>
                    <hr>
                  </h5>
                  <p>
                    This looks like a one-stop solution to empower our agents with providing 
                    our rental clients a complete experience, without needing to commute between properties. 
                  </p>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- contact section -->

  <section class="contact_section ">
    <div class="container">
      <div class="heading_container">
        <h2>
          Get In Touch
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="map_container">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54403163.229386926!2d1.2806818999999985!3d33.669971000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df955f13d00919%3A0x1330a8a80b73bc7!2sVECTOR%20Inc!5e0!3m2!1sen!2ssa!4v1711642149457!5m2!1sen!2ssa"  width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 ">
          <div class="form_container">
            <form action="">
              <div>
                <input type="text" placeholder="Name" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="d-flex ">
                <button>
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end contact section -->



  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="info_contact">
            <h5>
              About Organization
            </h5>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename="images/location.png")}}" width="18px" alt="">
              </div>
              <p>
                Office No. 311 - Al Hameed Mall, G11 Markaz Isb
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename="images/phone.png")}}" width="12px" alt="">
              </div>
              <p>
                +923145258971
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename="images/mail.png")}}" width="18px" alt="">
              </div>
              <p>
                hello@vector-ai.co
              </p>
            </div>
            <div class="social_box">
              <a href="https://www.linkedin.com/company/vectoraico">
                <img src="{{ url_for('static', filename="images/linkedin.png")}}" alt="">
              </a>
              <p>
                linkedin.com/company/vectoraico
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-5">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
              A virtual Explorable Property website.
            </p>
          </div>
        </div>

        
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="http://www.vector-ai.co">VECTOR Inc.</a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="{{ url_for('static', filename="js/jquery-3.4.1.min.js")}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename="js/bootstrap.js") }}"></script>
  <script type="text/javascript" src ="{{ url_for('static', filename="js/custom.js")}}"></script>


</body>

</html>