<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>In-Verse</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/index">
            <img src = "{{url_for('static', filename = "images//logo.png")}}" alt="" />
          </a>
          <div class="navbar-collapse" id="">
            <ul class="navbar-nav justify-content-between ">
              <!--
              <div class="User_option">
                <li class="">
                  <a class="mr-4" href="/login">
                    Login
                  </a>
                  <a class="" href="/signup">
                    Sign up
                  </a>
                </li>
              </div>
            -->
            </ul>

            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="/index">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/property/0/1">HOUSE</a>
                <a href="/price">PRICING</a>
                <a href="/contact">CONTACT US</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- price section -->

  <section class="price_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Pricing
        </h2>
        <p>
          There are many variations of properties available.
        </p>
      </div>
      <div class="price_container">
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                01
              </h4>
              <h6>
                Commercial Office
              </h6>
            </div>
            <div class="text-box">
              <h2>
                PKR 67,000 / mo
              </h2>
              <ul>
                <li>
                  420 Sq. Ft
                </li>
                <li>
                  24-Hours Security
                </li>
                <li>
                  Electricity Backup 
                </li>
                <li>
                  Cleaning services
                </li>
                <li>
                  Emergency Exits
                </li>
                <li>
                  In the heart of downtown
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                02
              </h4>
              <h6>
                Lecture Hall
              </h6>
            </div>
            <div class="text-box">
              <h2>
                PKR 25,000 / Hr
              </h2>
              <ul>
                <li>
                  Capacity of three hundred
                </li>
                <li>
                  Fully airconditioned                  
                </li>
                <li>
                  Fully ventilated
                </li>
                <li>
                  Projector & Screen
                </li>
                <li>
                  Mobility support available
                </li>
                <li>
                  IT Staff Available
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                03
              </h4>
              <h6>
                Seminar Room
              </h6>
            </div>
            <div class="text-box">
              <h2>
                PKR 5,000 / Hr
              </h2>
              <ul>
                <li>
                  Capacity of sixty people
                </li>
                <li>
                  Fully airconditioned
                </li>
                <li>
                  Fully ventilated
                </li>
                <li>
                  Projector & Screen
                </li>
                <li>
                  Mobility support available
                </li>
                <li>
                  Non-Negotiable
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- end price section -->

  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="info_contact">
            <h5>
              About Organization
            </h5>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename="images/location.png")}}" width="18px" alt="">
              </div>
              <p>
                Office No. 311 - Al Hameed Mall, G11 Markaz Isb
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename="images/phone.png")}}" width="12px" alt="">
              </div>
              <p>
                +923145258971
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename="images/mail.png")}}" width="18px" alt="">
              </div>
              <p>
                hello@vector-ai.co
              </p>
            </div>
            <div class="social_box">
              <a href="https://www.linkedin.com/company/vectoraico">
                <img src="{{ url_for('static', filename="images/linkedin.png")}}" alt="">
              </a>
              <p>
                linkedin.com/company/vectoraico
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-5">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
              A virtual Explorable Property website.
            </p>
          </div>
        </div>

        
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="http://www.vector-ai.co">VECTOR Inc.</a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script type="text/javascript" src="../static/js/custom.js"></script>

</body>
</body>

</html>